body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c3ecf2, #a8edea);
    /* background: linear-gradient(to bottom, #FF9933 0%, #FFFFFF 33%, #138808 66%); */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 15px;
}

h1 {
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* margin-bottom: 20px; */
    color: #2c3e50;
}

h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

p {
    margin: 0;
    margin-left: 10px;
}

.label {
    font-weight: 600;
    font-size: 1.1em;
    color: #222;
}

.value {
    margin-top: 8px;
    padding: 8px;
    font-size: 14px;
    background: #f4f6f8;
    border-left: 5px solid #9face6;
    border-radius: 6px;
    font-family: monospace;
}
.value div{
    display: inline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.note {
    font-size: 0.9em;
    /* color: #666; */
    margin-bottom: 8px;
    padding: 10px;
    background: #f4f6f8;
    border-radius: 10px;
}
.vertical-gap{
    height: 14px;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1 1 18%;
    min-width: 200px;
    background: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card span {
    font-size: 16px;
}

.card.full-width {
    flex: 1 1 100%;
}
.card.half-width {
    flex: 1 1 50%;
}

#map {
    height: 300px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#map_ip {
    height: 300px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #2980b9;
}

.hidden {
    display: none;
}

pre {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    overflow-x: auto;
}

/* 2 cards per row on medium screens */
@media (max-width: 768px) {
    .card {
        flex: 1 1 35%;
    }
}

/* 1 card per row on small screens */
@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}
